language: php
sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

before_install:
  - composer install

script:
  - 'phpunit'
  - './vendor/bin/php7cc ./src'
