name: "testing"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest

        strategy:
            matrix:
              php:
                - 7.4
                - 8.0

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}

            - name: Cache PHP dependencies
              uses: actions/cache@v2
              with:
                  path: vendor
                  key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json') }}
                  restore-keys: ${{ runner.os }}-php-${{ matrix.php }}-composer-

            - name: Install dependencies
              run: composer install

            - name: Tests
              run: composer test
